<div class="app-container" #endOfPage>
    <mat-card class="container-app">
        <div
            [style.text-align]="'end'"
            [style.margin]="'.2em 3.5em'"
                 
        >
            <button mat-button
                [style.background-color]="'blue'" 
                [style.color]="'white'" 
                [matMenuTriggerFor]="menuFilter"
            >
                <mat-icon>filter_alt</mat-icon>Filtros
            </button>
            <mat-menu 
                #menuFilter="matMenu"
            >
                <app-filter

                />
            </mat-menu>
        </div>
        <mat-card-content>
            <ng-container *ngIf="tasks.length === 0">
                <mat-card class="task">
                    <mat-card-header class="header">
                      <mat-card-title class="title">
                        Sin Tareas
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="content">
                        Empieza por registrar tu primera tarea.
                    </mat-card-content>
                </mat-card>
            </ng-container>
            <ng-container 
                *ngFor="let task of tasks"
            >
                <mat-card class="task">
                    <mat-card-header class="header">
                      <mat-card-subtitle class="subtitle">
                        <ng-container 
                            *ngFor="let tag of getTagsPeerTask(task.tags); let i=index"
                        >
                            <div class="tag"
                                [matTooltip]="tag.name"
                                [ngStyle]="{ 'background-color': tag.color }"
                            ></div>
                        </ng-container>
                      </mat-card-subtitle>

                      <div class="circle-container">
                        <div class="circle"></div>
                        <div class="text"> {{task.priority}}</div>
                      </div>
                      <mat-card-title class="title">
                        {{task.title}}
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="content">
                      <p>{{ task.description }}</p>
                      <mat-divider></mat-divider>
                    </mat-card-content>
                    <mat-card-actions class="actions">
                        <button mat-button 
                            [style.background-color]="colorStatus(task.status,task.expirationDate)" 
                            [matTooltip]="remainingTime(task)"
                        (click)="toggleStatus(task)">
                            {{formatDate(task.expirationDate) }}
                            <mat-icon>schedule</mat-icon>
                        </button>

                        <div>
                            <button mat-button color="danger"  (click)="edit(task)">
                                <mat-icon>edit</mat-icon>Editar
                            </button>
                            <button mat-button color="danger" (click)="delete(task)">
                                <mat-icon>delete</mat-icon>Eliminar
                            </button>
                        </div>
                    </mat-card-actions>
                  </mat-card>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>

<!-- float button -->

<button class="btn-absolute" mat-fab color="primary"
    (click)="openDialog(null)">
    <mat-icon fontIcon="add"></mat-icon>
</button>