
.w-100 {
    width: 100%;
}

.text-right{ 
    display: flex;
    justify-content: end;
}

.elevation-none {
    box-shadow: none;
}

::ng-deep .mat-mdc-menu-panel {
    min-width: 500px !important;
    max-width: 500px !important;
}

.tag-preview {
    border-radius: 5px;
    margin: auto;
    padding: .2rem 1rem;
    color: white;
    font-weight: 500;
}

.flex-tags {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}



@media (min-width: 0px) and (max-width: 767px) {
    .flex-2 {
        flex-direction: column;
    }

    ::ng-deep .mat-mdc-menu-panel {
        min-width: 100% !important;
        max-width: 100% !important;
    }

}
    